.chain {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-select {
    position: relative;
}

.select-header {
    padding: 10px;
    background-color: #fffefe;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
}

.select-option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option-image {
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
    margin-right: 10px;
}

.select-option:hover {
    background-color: #f0f0f0;
}
