:root{
    --section-bg-light: #ebf8fe;
    --section-bg-dark:#1a1526;
}


section.light-theme {
    background-color: var(--section-bg-light);
}

section.dark-theme{
    background-color: var(--section-bg-dark);
}

.caroussel-card{
    padding-top: 3rem;
    padding-bottom: 3rem;
}



.cardAC{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background: linear-gradient(#0553ff,#ffffff);
        padding: 1.5rem;
        padding-bottom: 0;
        border-radius: 2rem;
        justify-content: space-between;
}

.caroussel-img {
    position: relative;
}

.titleAC{
    font-size: 1.4rem;
    font-weight: normal;
}

.titleAC h3{
    margin: 0;
}

.subtitleAC {
    color: white;
    font-size: 1.2rem;
}

.subtitleAC h4{
    margin: 0;
}

.CTA button{
    background: none;
    color: black;
    padding: 2.5rem 1.5rem 2.5rem 0rem;
}

.CTA button:hover {
    opacity: 40%;
}

#bunny-logo {
    height: 1.5rem;
}


/* Card IMGs */
@media (min-width: 1005px) {

    #base-bunny1 {
        max-height: 15rem;
        position: absolute; 
        left: 50%; 
        transform: translateX(-150%); 
        bottom: 0;
        z-index: 1;
    } 

#bunny-bg1 {
    max-height: 10rem;
    position: absolute;
    right: 0; 
    bottom: 0; 
}

#bunny-cloud1 {
    max-height: 7rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-120%)translateY(-120%); 
    bottom: 0;
    z-index: 2;
    animation: moveBunnyCloud 5s infinite;
}

@keyframes moveBunnyCloud {
    0% {
        transform: translateX(-120%) translateY(-120%);
    }
    50% {
        transform: translateX(-130%) translateY(-115%);
    }
    100% {
        transform: translateX(-120%) translateY(-120%);
    }
}


#bunny-bg2 {
    max-height: 9rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-84%)translateY(0%); 
    bottom: 0;
    z-index: 2;
}

#bunny-altbg1 {
    display: none;
}

}


@media (max-width: 1005px) {
    
    #bunny-bg1,#bunny-cloud1,#bunny-bg2 {
        display: none;
    }

    #bunny-altbg1 {
        max-height: 14rem;
        position: absolute;
        right: 0; 
        bottom: 0; 
        transform: translateX(8%); 
        overflow-y: hidden;
        border-radius: 2rem;
    }

    #base-bunny1 {
        max-height: 13rem;
        position: absolute; 
        left: 50%; 
        transform: translateX(-80%); 
        bottom: 0;
        z-index: 1;
    } 

}