:root{
    --section-bg-light: #ebf8fe;
    --section-bg-dark:#1a1526;
}


section.light-theme {
    background-color: var(--section-bg-light);
}

section.dark-theme{
    background-color: var(--section-bg-dark);
}

.caroussel-card{
    padding-top: 3rem;
    padding-bottom: 3rem;
}



.cardAC{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background: linear-gradient(#0553ff,#ffffff);
        padding: 1.5rem;
        padding-bottom: 0;
        border-radius: 2rem;
        justify-content: space-between;
}

.caroussel-img {
    position: relative;
}

.titleAC{
    font-size: 1.4rem;
    font-weight: normal;
}

.titleAC h3{
    margin: 0;
}

.subtitleAC {
    color: white;
    font-size: 1.2rem;
}

.subtitleAC h4{
    margin: 0;
}

.CTA button{
    background: none;
    color: black;
    padding: 2.5rem 1.5rem 2.5rem 0rem;
}

.CTA button:hover {
    opacity: 40%;
}

#bunny-logo,#bunny-logo2 {
    height: 1.5rem;
}

#bunny-logo3 {
    height: 2rem;
}

#bnb-logo,#bnb-logo2 {
    height: 1.5rem;
}


/* Card IMGs */
@media (min-width: 1005px) {

    /* Card 1 */
    #base-bunny1 {
        max-height: 15rem;
        position: absolute; 
        left: 50%; 
        transform: translateX(-150%); 
        bottom: 0;
        z-index: 1;
    } 

#bunny-bg1 {
    max-height: 10rem;
    position: absolute;
    right: 0; 
    bottom: 0; 
}

#bunny-cloud1 {
    max-height: 7rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-120%)translateY(-120%); 
    bottom: 0;
    z-index: 2;
    animation: moveBunnyCloud 5s infinite;
}

@keyframes moveBunnyCloud {
    0% {
        transform: translateX(-120%) translateY(-120%);
    }
    50% {
        transform: translateX(-130%) translateY(-115%);
    }
    100% {
        transform: translateX(-120%) translateY(-120%);
    }
}


#bunny-bg2 {
    max-height: 9rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-84%)translateY(0%); 
    bottom: 0;
    z-index: 2;
}

#bunny-altbg1 {
    display: none;
}

#base-bunny3 {
    max-height: 16rem;
    position: absolute; 
    left: 50%; 
    transform: translateX(-100%); 
    bottom: 0;
    z-index: 1;
} 
#base-bunny3-alt {
    display: none;
}

#bunny-bg3 {
    max-height: 4.5rem;
    position: absolute;
    right: 100%; 
    top: 0%; 
    transform: translateY(-305%)translateX(-250%);
}

#bunny-bg3-2 {
    max-height: 6rem;
    position: absolute;
    bottom: 100%;
    right: 100%;
    transform: translateY(0%)translateX(35%);
    border-radius: 20cm 20cm;
}



}


@media (max-width: 1005px) {
    
    #bunny-bg1,#bunny-cloud1,#bunny-bg2 {
        display: none;
    }

    #bunny-altbg1 {
        max-height: 14rem;
        position: absolute;
        right: 0; 
        bottom: 0; 
        transform: translateX(8%); 
        overflow-y: hidden;
        border-radius: 2rem;
    }

    #base-bunny1 {
        max-height: 13rem;
        position: absolute; 
        left: 50%; 
        transform: translateX(-80%); 
        bottom: 0;
        z-index: 1;
    } 

    #base-bunny3{
        display: none;
    }

    #base-bunny3-alt {
        display: block;
        max-height: 16rem;
        position: absolute; 
        left: 50%; 
        transform: translateX(-100%); 
        bottom: 0;
        z-index: 1;
    } 
    
    #bunny-bg3 {
        max-height: 4.5rem;
        position: absolute;
        right: 100%; 
        top: 0%; 
        transform: translateY(-305%)translateX(-100%);
    }
    
    #bunny-bg3-2 {
        max-height: 6rem;
        position: absolute;
        bottom: 100%;
        right: 100%;
        transform: translateY(0%)translateX(35%);
        border-radius: 20cm 20cm;
    }

}

 #card1,#card2{
    display: none;
}
 


/* Card2 */


.card2AC{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background: linear-gradient(black,#a7830e) ;
        padding: 1.5rem;
        padding-bottom: 0;
        border-radius: 2rem;
        justify-content: space-between;
}


.titleAC2{
    font-size: 1.4rem;
    font-weight: normal;
    color: #a7830e;
    margin-top: 1rem;
}

.titleAC2 h3{
    margin: 0;
}

.subtitleAC2 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.subtitleAC2 h4{
    margin-top: 1rem;
}


.caroussel-img {
    position: relative;
}

.CTA2 button{
    background: none;
    color: white;
    padding: 0rem 1rem 1rem 0rem;
}

.CTA2 button:hover {
    opacity: 40%;
}

/* Card3 */


.card3AC{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: lightblue;
        padding: 1.5rem;
        padding-bottom: 0;
        border-radius: 2rem;
        justify-content: space-between;
}


.titleAC3{
    font-size: 1.4rem;
    font-weight: normal;
    color: #7a6cab;
    margin-top: 0rem;
}

.titleAC3 h3{
    margin: 0;
}

.subtitleAC3 {
    color: peachpuff;
    text-shadow: 2px 2px purple;
    font-size: 1.4rem;
    margin: 0;
}

.subtitleAC3 h4{
    margin-top: 1rem;
}


.caroussel-img {
    position: relative;
}

.CTA3 button{
    background: none;
    color: white;
    padding: 0rem 1rem 1rem 0rem;
}

.CTA3 button:hover {
    opacity: 40%;
}