:root{
    --mustardyellow: #ffb237;
    --greyBorder: #383241;
    --backgroundDarkGrey: #27262c;
    --purpleTweet: #b8add2;
    --communityInactiveButton: rgba(122, 110, 170, 0.7);
    --communityActiveButton: rgb(118, 69, 217);
}

#community-triangle{
    width: 100%;
    height: 60px;
    background: rgb(131,0,139);
    align-items: center;
    justify-content: center;
    background: linear-gradient(01deg,  transparent, #0b4574, black);
}

.color-change{
    color: #7745d8;
}


.community.dark-theme{
    background: linear-gradient(#0b4574, #081116);
    height: 880px;
}

body{
    margin: 0
}

.community-container{
    width: 900px;
    margin: auto;
    background-color: #020810;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    border-radius: 45px;
    
}

.community-cards{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.community-card{
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: #7745d8;
}

#community-card2{
    background-color: var(--backgroundDarkGrey);
    border: 1px solid var(--greyBorder);
}


#community-card1 p:nth-child(even){
    font-size: 2rem;
    font-weight: bold;
    color:var(--mustardyellow);
    margin: 0 0 20px;
}

#community-card1{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: left;
    justify-content: center;
}

#community-card1-content{
    margin: 0 0 0 50px;
}


#community-tweet-icons{
    font-size: 0.8rem ;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

#community-tweet-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideshow-container{
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

/* #community-tweet-user p:nth-child(1){
    width: 250px;
    padding-right: 10px;
} */

#community-card-slide1 a,
#community-card-slide1 a:visited{
    color: #1fc7d4;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 4px;
}

#community-card-slide1 a:hover{
    text-decoration: underline;
}

#community-tweet-likes,
#community-tweet-charts{
    display: inline-flex;
    align-items: center;
}

#community-tweet-icons p{
    color: var(--purpleTweet);
    font-weight: bold;
}

#community-tweet-icons hr{
    height: 15px;
    color: var(--purpleTweet);
    font-weight: lighter;
}

#community-card-slide1 p{
    padding: 5px 0;
    margin: 0;
}


#community-user-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}



#community-card-img{
    width: 290px;
}

#community-date{
    color: var(--purpleTweet)
}

.community-card-slide p:first-child{
    font-weight: bold;
}


.community-slideshow-buttons button{
    display: inline-flex;
    border: none;
    background-color: var(--communityInactiveButton);
    width: 35px;
    height: 8px;
    bottom: 10px;
}


#community-slide-button1{
    border-radius: 10px 0 0 10px ;
}

#community-slide-button2{
    border-radius: 0 10px 10px 0;
}

  
.community-slideshow-buttons button.active{
    background-color: var(--communityActiveButton);
}

.community-card-slide h5{
    margin: 14px 0;
    font-size: 1rem;
}



.community-sm{
    background-color: var(--backgroundDarkGrey);
    border-radius: 30px;
    padding: 10px;
    margin: 0 5px
}

#community-bg-x{
    position: absolute;
    left: 100px;
    top: 120px;
}

#community-bg-tg{
    position: absolute;
    left: 220px;
    top: 250px;
}

#community-bg-ig{
    position: absolute;
    left: 150px;
    top: 400px;
}

#community-bg-dis{
    position: absolute;
    left: 100px;
    top: 550px;
}
