:root{
    --mustardyellow: #ffb237;
    --greyBorder: #383241;
    --backgroundDarkGrey: #27262c;
    --purpleTweet: #b8add2;
    --communityInactiveButton: rgba(122, 110, 170, 0.7);
    --communityActiveButton: #7745d8;
    --bg-light-blue: #72b8f2;
    --bg-lightest-blue: #99b8c8;
}


.exchange-stats2{
    width: 100%;
}

#community-triangle.dark-theme{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(01deg,  transparent, #0b4574, black);
}

#community-triangle.light-theme{
    width: 100%;
    height: 60px;
    background: linear-gradient(1deg,  transparent, var(--bg-light-blue), var(--btn-light-text));
    position: relative;
    bottom: -30px;
}


.exchange-stats2.light-theme{
    background-color: var(--bg-light);
}

.exchange-stats2.dark-theme{
    background-color: var(--bg-dark);
}

#exchange-figures,
.exchange-counters{
    color: var(--light-text2h2);
    font-weight: bold;
}

.exchange-statistics-container hr{
    height: 4rem;
    align-items: center;
    display: flex;
    margin: 25px 0;
}

.exchange-titles{
    font-weight: bold;
    margin-bottom: 0;
    color: black;
    font-size: 1.5rem;
}

.exchange-counters{
    font-size: 1.8rem;
    margin: 0;
}

.exchange-stats2.dark-theme h2{
    font-weight: bold;
    margin-bottom: 0;
    color: white; 
}

.exchange-stats2.light-theme h2{
    font-weight: bold;
    margin-bottom: 0;
    color: black; 
    font-size: 2.5rem;
}

.exchange-titles.light-theme p{
    font-weight: bold;
    margin-bottom: 0;
    color: black;
}


.exchange-statistics-container.dark-theme p:first-child{
    font-weight: bold;
    margin-bottom: 0;
    color: azure;
}

.exchange-stats2-title{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.exchange-stats2-title span{
    padding: 0 5px;
}

.exchange-statistics-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 0 50px 0;
}

.exchange-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    min-width: 200px;
}

@media (max-width: 1199px){
    .exchange-info-container{
        min-width: 200px;
    }

    .exchange-statistics-container{
        flex-wrap: wrap;
        padding: 10px 20px;
    }

   
}



@media (max-width: 683px){
    .exchange-statistics-container hr{
        display: none;
    }

    .exchange-statistics-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 0px;
    }

    .exchange-counters{
        font-size: 1.3rem;
    }
    
}