:root{
    --footer-dark-bg: #27262c;
    --footer-text: #f4eeff;
}

.footer-all {
    margin: 0 5%;
}


.main-footer{
    background-color:var(--footer-dark-bg);
    color:  var(--footer-text);
    padding: 56px 40px 32px;    
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-links-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
    margin: 0 0 30px 0;
}

.footer-links-container p {
    white-space: wrap;
}

.footer-links-container a {
    text-decoration: none;
    color: inherit
}

.footer-links-container a:visited,
.footer-links-container a:hover{
    text-decoration: none;
    color: var(--footer-text)
}

.footer-links-container h4 {
    color:  var(--light-text2h2)
}

.footer-socialmedia-container {
    display: inline-flex;
    padding: 0 0 20px 0;  
    margin: 0 0 0 5%;
}

.footer-linked :hover{
    text-decoration: underline;
}

#footer-pancakeswap-logo { 
    width: 180px;
    height: auto;
    padding: 10px 0 0 0;
}

.social-media-logo {
    padding-right: 20px;
    height: 30px;

}

.footer-socialmedia-container a {
    text-decoration: none;
    color: initial;
}

#footer-separator {
    border-color: #69686a;
    display: block;
    margin: 0 0 0 5%;
    width: 88%;
}

.footer-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 30px 40px 0 0;  
    margin: 0 0 0 5%;
}

.footer-buttons a:visited{
    color: inherit;
    text-decoration: none;
}

.footer-rigth{
    display: flex;
    gap: 20px;
    align-content: center;
    align-items: center;
}

#footer-mini-logo-img{
    align-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

#footer-mini-logo-text{
    color: #9694a5;
    text-decoration: none;
    align-items: center;
    margin: 0;
} 


#footer-dollar-link{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#footer-dollar-link a{
    display: inline-flex;
    margin: 0;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
} 

#footer-dollar-link a:visited{
    color: inherit;
} 

.btn-footer {
    color:#27262c;
    background-color: #1FC7D4;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px #1B99AA;
    text-decoration: none;
    align-content: center;
}


.footer-left{
    display: inline-flex;
    gap: 20px;
}

.select-language:active{
    -webkit-appearance: block; 
    appearance: block; 
    max-width: 300px; 
    line-height: 0px;
    background-color: #27262c;
    display: block;
}

.select-language:hover{
    display: block;
}

.select-language option{
    background-color: var(--footer-dark-bg);
    color: var(--footer-text);
    font-weight: bold;
    font-size: 10px;
    border: 0px;
    overflow-y: scroll;
    position: static;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--greypurple);
  }

  #footer-separator2{
    display: none;
}



.telegram-dropdown {
    position: relative;
    display: inline-block;
}

.telegram-language-options {
    display: none;
    background: var(--footer-dark-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--footer-text);
    position: absolute;
    bottom: 40px;
    width: 150px;
    overflow-y: scroll;    
    font-size: 1rem;
    height: 400px;
}

.footer-language-options {
    display: none;
    background: var(--footer-dark-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--footer-text);
    position: absolute;
    bottom: 40px;
    height: 300px;
    width: 150px;
    overflow-y: scroll;    
    font-size: 1rem;
    bottom: 80px;
}

.telegram-language-options li,
.footer-language-options li {
    padding: 8px 12px;
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 150px;
    
}

.telegram-language-options li:hover,
.footer-language-options li:hover {
    text-decoration: underline;
}

.language-dropdown{
    display: flex;
    align-items: center;
}

.select-language-web-label{
    display: flex;
    align-items: center;
}









@media (min-width: 1078px){
    #footer-pancakeswap-logo-reduced { 
        display: none;
    }    
}

@media (max-width: 1078px) and (min-width: 967px){
    #footer-pancakeswap-logo {
        display: none;
    }

    
}

@media (max-width: 968px){
    .footer-links-container {
        display: block;
    }

    .footer-links-container div {
        padding-top: 15px
    }

    #footer-pancakeswap-logo-reduced {
        display: none;
    }

    #footer-pancakeswap-logo {
        display: inline;
    }

    .telegram-language-options {
        display: none;
        background: var(--footer-dark-bg);
        list-style: none;
        padding: 0;
        margin: 0;
        color: var(--footer-text);
        position: absolute;
        bottom: 50px;
    }
}



@media (max-width: 584px){
  

    .footer-buttons{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .footer-rigth{
    display: flex;
    width: 100%;
    gap: 20px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    }


    #footer-separator{
        margin-bottom: 50px;
    }

    .main-footer{
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-separator2{
        display: block;
        border-color: #69686a;
        display: block;
        margin: 5% 0 0 3%;
        width: 95%;
    }
}

