
:root {
--darkh2: #b8acd2;
--lighth2: #7a6cab;

}

.main-banner{
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-banner-buttons{
    display: flex;
    gap: 10px;
}

.main-banner.light-theme {
    background-color: #edf6fe;
}

.main-banner.dark-theme {
    background-color: #1e1935;
}


.main-banner .mbcontainer {
    width: 90%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mbimg img{
    height: 650px;
    width: 650px;
    right: 10px;
    position: absolute;
}

.main-banner .titleMB{
    font-size: 5.5rem;
    line-height: 110%;
    max-width: 33rem;
    margin: 0;
    font-weight: bold;
}

.main-banner.dark-theme h2{
    color: #edf6fe;
}

.main-banner.light-theme h2{
    color: black;
}

.main-banner .text-container h2{
    max-width: 40rem !important;
    line-height: 110% !important;
}

.main-banner .text-container h4{
    color: var(--lighth2);
    font-size: 1.5rem !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.main-banner .color-change {
    color: #7744d9;
}


.btn-sec-mb {
    background: none;
    border: 2px solid #1FC7D4;
    color: #1FC7D4;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    align-content: center;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.btn-expanded-mb{
    padding: 16px 23px;
}

.btn-sec-mb:hover {
    opacity: 70%;
}

.btn-sec-mb a{
    text-decoration: none;
    color: #1FC7D4;
}

.btn-sec-mb.light-theme a{
    text-decoration: none;
}

#main-banner-img{
    position: relative;
    top: 20px;
    animation-name: slidein;
    animation: main-banner-img 4s infinite linear;
    z-index: 2;

}


@keyframes main-banner-img {
    from { transform: rotate(0deg)  translate(3px) rotate(0deg); }
    to { transform: rotate(360deg) translate(3px) rotate(-360deg); }
}


@media (max-width: 1300px){
    .mbimg img{
        height: 500px;
        width: 500px;
        right: 10px;
    }
}


@media (max-width: 1150px) {
    .mbimg img{
        height: 400px;
        width: 400px;
    }

    .main-banner .titleMB{
        font-size: 3rem;
        line-height: 110%;
        max-width: 17rem;
        margin: 0;
        font-weight: bold;
    }

    .main-banner{
        max-width: 100%;
    }

    .main-banner .text-container h4{
        font-size: 1rem !important;
    }


    .text-container button {
        margin-top: 1rem;
    }
}


@media (max-width: 850px){

    .main-banner .mbcontainer {
        width: 90%;
        margin-left: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }


    .mbimg img{
        height: 300px;
        width: 300px;
    }

    .main-banner .text-container h2{
        font-size: 2.5rem;
        max-width: 17rem;
        margin: 0;
        font-weight: bold;
        padding-top: 15px;
    }

    .main-banner-buttons{
        padding: 5px 8px;
    }

    .main-banner-buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
/* 
@media (max-width: 700px){
    .mbimg img{
        height: 250px;
        width: 250px;
    }

    .main-banner-buttons button{
        padding: 5px 8px;
        margin-bottom: 20px;
    }

    .text-container{
        padding: 30px 0;
    }
}

@media (max-width: 600px){
    


    .main-banner-buttons{
        padding: 8px 12px;
    }

    .text-container{
        width: 60%;
    }
}

@media (max-width: 470px){
    .mbimg img{
        height: 180px;
        width: 180px;
    }


    .text-container{
        width: 60%;
    }
} */