
:root {
--darkh2: #b8acd2;
--lighth2: #7a6cab;

}


.main-banner.light-theme {
    background-color: #edf6fe;
}

.main-banner.dark-theme {
    background-color: #1e1935;
}


.mbcontainer {
    width: 90%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.mbimg{
    height: 650px;
    width: 650px;
}

.titleMB{
    font-size: 5.5rem;
    line-height: 110%;
    max-width: 33rem;
    margin: 0;
    padding-top: 6rem;
}

.text-container h2{
    max-width: 40rem;
    line-height: 110%;
}

.text-container h4{
    color: var(--lighth2);
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.light-theme h2{
    color: #290e5e;
}

.dark-theme h2{

    color: white;
}

.color-change {
    color: #7744d9;
}


.btn-sec-mb {
    background: none;
    border: 2px solid #1FC7D4;
    color: #1FC7D4;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    align-content: center;
    font-weight: bold;
    font-size: 1rem;
}

.btn-expanded-mb{
    padding: 16px 23px;
}

.btn-sec-mb:hover {
    opacity: 70%;
}


.mbimg img{
    width: 700px;
}


#main-banner-img{
    position: relative;
    left: -50px;
    animation-name: slidein;
    animation: main-banner-img 4s infinite linear;
}


@keyframes main-banner-img {
    from { transform: rotate(0deg)  translate(5px) rotate(0deg); }
    to { transform: rotate(360deg) translate(10px) rotate(-360deg); }
}


