
:root {
    /* Light */
    --light-text1h2: #b8acd2;
    --light-text2h2: #7a6cab;
    --light-text3h1: #290e5e;
    --btn-light-text: #ffffff;
    --bg-light: #ffffff;
    --bg-btn-light: #eff4f5;
     
    /* Dark */
    --bg-dark: #27272d;
    --bg-select-dark: #343447;
    --dark-text3h1: #ffffff;
    --btn-dark-text: #08070a;
    

     /* All */
     --btn-bg: #1FC7D4;
     --standar-size: 1rem;
    }


    
.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
    max-width: 100%;
}

section.dark-theme {
    background-color: var(--bg-dark);
}

section.dark-theme svg.light{
    display: none;
}

section.light-theme svg.dark{
    display: none;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    padding-left: var(--standar-size);
}

.logo h1{
    font-size: 1.3rem;
}

.logo img {
    height: 2.2rem;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.dark-theme h2 {
    font-size: var(--standar-size);
    color: var(--light-text1h2);
    font-weight: normal;
    margin: 0;
}

.light-theme h2 {
    font-size: var(--standar-size);
    color: var(--light-text2h2);
    font-weight: normal;
    margin: 0;
}

.menu-icon-list {
    display: flex;
    flex-direction: row;
    color: var(--lighth2);
    align-items: center;
    gap: var(--standar-size);
    
}

.exchange{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    padding-left: var(--standar-size);
}

.exchange:hover img{
    transform: scale(1.15);
}

.exchange img {
    height: 2rem;
}

.exchange h2{
    font-size: var(--standar-size);
}

.icon-list {
   font-size: 1.3rem;
}

.icon-list:hover {
    color: var(--darkh2);
}

.wallet {
    padding-right: var(--standar-size);
}

.btn-danger,.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-radius: 5rem 5rem 5rem 5rem !important;
    border: none !important;
    
    font-weight: bold !important;
    font-size: var(--standar-size) !important;
    width: auto !important;
    padding: 0 0.5rem 0 0  !important;
}

.btn-danger:hover{
    opacity: 70% !important;
}

.dark-theme.btn-danger,.btn-check:checked+.btn, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--bg-select-dark) !important;
    color: var(--btn-light-text) !important;
}

.dark-theme.btn.show{
    background-color: var(--bg-select-dark) !important;
    color: var(--btn-light-text) !important;
}

.light-theme.btn.show{
    background-color: var(--bg-btn-light) !important;
    color: var(--light-text3h1) !important;
}



.more {
    white-space: nowrap;
}

.dropdown-img-btn{
    height: 2rem;
}

.dropdown-img{
    height: 1.5rem;
}


.light-theme.btn-danger,.btn-check:checked+.btn, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--bg-btn-light) !important;
    color: var(--light-text3h1) !important;
}

.dark-theme.dropdown-item:hover{
    background-color: #353446 !important;
    color: white;
}

.dark-theme.dropdown-item{
    background-color: var(--bg-dark) !important;
    color: var(--bg-light);
}

.light-theme.dropdown-item{
    background-color: var(--bg-light) !important;
}

.light-theme.dropdown-item:hover{
    background-color: #ecf5fe !important;
}

.dark-theme.dropdown-header,.dark-theme.dropdown-menu{
    background-color: var(--bg-dark) !important;
    color: var(--bg-light);
}

.dark-theme.dropdown-divider {
    border-top: 2px solid #383241;
}


@media (max-width: 970px) {
    .exchange {
        display: none;
    }
}

@media (max-width: 850px) {
    .menu-list {
        display: none;
    }
    .hidden-logo {
        display: block;
        min-width: 2rem;
    }
    .text-hidden {
        display: none;
    }
    .main-navbar{
        max-width: 150vw;
    }
}

@media (min-width: 850px) {
    .hidden-logo {
        display: none;
    }
}

@media (max-width: 1100px) {
        .exchange h2{
            font-size: 0.8rem;
        }
        
        .icon-list {
           font-size: 1rem;
        }
        .dark-theme h2 {
            font-size: 0.8rem;
        
        }
        
        .light-theme h2 {
            font-size: 0.8rem;
        }
}

@media (max-width: 500px) {
    .wallet {
        max-width: 100%;
    }

    .chain {
        max-width: 100%;
    }
}

.trade-dropdown a{
    border: none !important;
    background: none !important;
    appearance: none !important;
   
}


.dark-theme.trade-dropdown.btn-danger,.btn-check:checked+.btn, .btn:first-child:active, :not(.btn-check)+.btn:active{
    color: #7a6eaa !important;
}

.light-theme.trade-dropdown.btn.show{
    color: #b8add2 !important; 
}

