
:root {
    /* Light */
    --light-text1h2: #b8acd2;
    --light-text2h2: #7a6cab;
    --light-text3h1: #290e5e;
    --btn-light-text: #ffffff;
    --bg-light: #eff4f5;
     
    /* Dark */
    --bg-dark: #27272d;
    --bg-select-dark: #343447;
    --dark-text3h1: #ffffff;
    --btn-dark-text: #08070a;
    

     /* All */
     --btn-bg: #1FC7D4;
     --standar-size: 1rem;
    }


    
.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 4rem;
    gap: 3.5rem;
    justify-content: space-between;
    margin: 0;
}

section.dark-theme {
    background-color: var(--bg-dark);
}

.dark-theme h1{
   color: var(--dark-text3h1);
}

.light-theme h1{
    color: var(--btn-dark-text);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    padding-left: var(--standar-size);
}

.logo h1{
    font-size: 1.3rem;
}

.logo img {
    height: 2.2rem;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.dark-theme h2 {
    font-size: var(--standar-size);
    color: var(--light-text1h2);
    font-weight: normal;
}

.light-theme h2 {
    font-size: var(--standar-size);
    color: var(--light-text2h2);
    font-weight: normal;
}

.menu-icon-list {
    display: flex;
    flex-direction: row;
    color: var(--lighth2);
    align-items: center;
    gap: var(--standar-size);
    
}

.exchange{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    padding-left: var(--standar-size);
}

.exchange:hover img{
    transform: scale(1.15);
}

.exchange img {
    height: 2rem;
}

.exchange h2{
    font-size: var(--standar-size);
}

.icon-list {
   font-size: 1.3rem;
}

.icon-list:hover {
    color: var(--darkh2);
}

.wallet {
    padding-right: var(--standar-size);
}

.chain select{
    border-radius: 15px 15px 15px 15px;
    padding: 7px 16px;
    border: none;
    
    font-weight: bold;
    font-size: var(--standar-size);
    width: auto;
}

.chain select:hover{
    opacity: 70%;
}

select.dark-theme{
    background-color: var(--bg-select-dark);
    color: var(--btn-light-text);
}



select.light-theme{
    background-color: var(--bg-light);
    box-shadow: 0.5px 1px #d7dbdc;
}