:root{
    --footer-dark-bg: #27262c;
    --footer-text: #f4eeff;
}

.footer-all {
    margin: 0 5%;
}


.main-footer{
    background-color:var(--footer-dark-bg);
    color:  var(--footer-text);
    padding: 56px 40px 32px;    
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.footer-links-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
    margin: 0 0 30px 0;
}

.footer-links-container p {
    /* overflow: hidden; */
    white-space: wrap;
    /* text-overflow: ellipsis; */
}

.footer-links-container a {
    text-decoration: none;
    color: inherit
}

.footer-links-container a:visited,
.footer-links-container a:hover{
    text-decoration: none;
    color: var(--footer-text)
}

.footer-links-container h4 {
    color:  var(--light-text2h2)
}

.footer-socialmedia-container {
    display: inline-flex;
    padding: 0 0 20px 0;  
    margin: 0 0 0 5%;
}

.footer-linked :hover{
    text-decoration: underline;
}

#footer-pancakeswap-logo { 
    width: 180px;
    height: auto;
    padding: 10px 0 0 0;
}

.social-media-logo {
    padding-right: 20px;
}

.footer-socialmedia-container a {
    text-decoration: none;
    color: initial;
}

#footer-separator {
    border-color: #69686a;
    display: block;
    margin: 0 0 0 5%;
    width: 88%;
}

.footer-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 30px 40px 0 0;  
    margin: 0 0 0 5%;
}

.footer-buttons a:visited{
    color: inherit;
    text-decoration: none;
}

.footer-rigth{
    display: flex;
    gap: 20px;
    align-content: center;
    align-items: center;
}

#footer-mini-logo-img{
    align-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

#footer-mini-logo-text{
    color: #9694a5;
    text-decoration: none;
    align-items: center;
    margin: 0;
} 


#footer-dollar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px 0; */
} 

#footer-dollar-link a{
    display: inline-flex;
    margin: 0;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
} 

#footer-dollar-link a:visited{
    color: inherit;
} 

.btn-footer {
    color:#27262c;
    background-color: #1FC7D4;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 2px 2px #1B99AA;
    text-decoration: none;
    align-content: center;
}


.footer-left{
    display: inline-flex;
    gap: 20px;
}



/*  selects style */
/* .language-menu{
    display: inline-flex;
}

.icon-language{
    align-items: center;
    align-content: center;
}

.select-language{
    -webkit-appearance: none; 
    appearance: auto; 
    max-width: 300px; 
    line-height: 0px;
    background-color: #27262c;
    border: none;
    font-size: 1rem;
    color: var(--footer-text);
} */

 /* #select-language.open{
    display: block;
} 
#select-language:not(.open) option {
    display: none;
} 

.select {
    -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';
     color:black;
     background: white;
    -webkit-appearance:none;
    -ms-appearance: none;
    -o-appearance: none;
     appearance: none;
    } */

.select-language:active{
    -webkit-appearance: block; 
    appearance: block; 
    max-width: 300px; 
    line-height: 0px;
    background-color: #27262c;
    display: block;
}

.select-language:hover{
    display: block;
}

.select-language option{
    background-color: var(--footer-dark-bg);
    color: var(--footer-text);
    font-weight: bold;
    font-size: 10px;
    border: 0px;
    overflow-y: scroll;
    position: static;
}






::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--greypurple);
  }
/* 

#telegram-language{
    display:none;
}

#telegram-language:hover,
#telegram-language:active{
    display: show;
}

#footer-language{
    display: inline-flex;
    align-items: center;
}

#footer-language label{
   padding-left: 3px;
} */






/* toogle button inicio*/
    /* Box around slider */
/* .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 40px;
  }
   */
  /* Hide default HTML checkbox */
  /* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  } */
  
  /* Slider */
  /* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(128, 128, 128);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 3px;
    background-color: #27262c;
    border: 2px solid rgb(130, 15, 130); 
    opacity: 0.5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: grey;
  } */
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  /* input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  } */
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
    display: flex;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


 .slider-images{
    display: inline-flex;
    padding: 0 0px 0px 8px;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
 }

 .icon-light{
    align-content: center;
 } */
/* toogle button end */

#footer-separator2{
    display: none;
}



.telegram-dropdown {
    position: relative;
    display: inline-block;
}

.telegram-language-options {
    display: none;
    background: var(--footer-dark-bg);
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--footer-text);
    position: fixed;
    bottom: 780px;
}

.telegram-language-options li {
    padding: 8px 12px;
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
}

.telegram-language-options li:hover {
    text-decoration: underline;
}












@media (min-width: 1078px){
    #footer-pancakeswap-logo-reduced { 
        display: none;
    }    
}

@media (max-width: 1078px) and (min-width: 967px){
    #footer-pancakeswap-logo {
        display: none;
    }

    
}

@media (max-width: 968px){
    .footer-links-container {
        display: block;
    }

    .footer-links-container div {
        padding-top: 15px
    }

    #footer-pancakeswap-logo-reduced {
        display: none;
    }

    #footer-pancakeswap-logo {
        display: inline;
    }

    .telegram-language-options {
        display: none;
        background: var(--footer-dark-bg);
        list-style: none;
        padding: 0;
        margin: 0;
        color: var(--footer-text);
        position: absolute;
        bottom: 50px;
    }
}



@media (max-width: 584px){
  

    .footer-buttons{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .footer-rigth{
    display: flex;
    width: 100%;
    gap: 20px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    }


    #footer-separator{
        margin-bottom: 50px;
    }

    .main-footer{
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-separator2{
        display: block;
        border-color: #69686a;
        display: block;
        margin: 5% 0 0 3%;
        width: 95%;
    }
}


