:root {
  --purple:  #7a6eaa;
  --title-purple: #7645d9;
  --lightPurple: #eeeaf4;
  --white: #ffffff;
  --lightgrey: lightgray;
  --greypurple: #b6b3c3;
  --tabs-width: 120px;
  --tabs-height: 13px;
  --greybackground: #faf9fa;
  --backgroundpurple: #7645d980;
  --darkblue: rgb(4, 4, 44);
  --colors-dark-gradient: linear-gradient(139.73deg,#313d5c,#3d2a54);
}

#triangle-div{
  width: 100vw;
  height: 40px;
  background: linear-gradient(1deg,  transparent, var(--greybackground), var(--purple));
  position: absolute;  
}

/* general section css */
.ecosystem.light-theme{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: var(--greybackground);
}

#ecosystem-section-logo{
  margin: 80px 0 0 0;
}

.ecosystem-container h3{
  margin:0 0 15px -30px;
}

.ecosystem h2{
  font-size: 2.5rem;
}

.ecosystem h2 span{
  color: var(--title-purple);
}

.ecosystem-card-container.light-theme{
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0 0 30px 0;
  width: auto;
  height: fit-content;
}

.ecosystem-link.light-theme{
  font-weight: bold;
  color: var(--purple);
}

.ecosystem-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ecosystem-card-container:nth-child(2){
  display: flex;
  flex-direction: row-reverse;
}



.trade-cards-container,
.gamenft-cards-container{
    display: inline-flex;
    width: auto;
    justify-content: space-evenly;
    position: relative;
    left: -60px;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    gap: 10px;
}

.earn-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 280px);
  
}


#trade-container.trade{
  width: 140px;
}



#trade-img{
  width: 300px;
  height: auto;
  display: flex;  
  position: relative;
  left: -20px;
}

#gamesnft-img{
  width: 300px;
  height: auto;
  display: flex;  
  position: relative;
  left: -50px;
}

#earn-img{
  width: 300px;
  height: auto;
  display: flex;  
  position: relative;
  right: -60px;
}



.trade-card-container-all{
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
}


.trade-card-container-all:nth-child(2){
  margin: 0 0 0 100px;
}



.trade-card-container-all h3{
  font-size: 2rem;
  color: var(--purple);
  
}

.trade-card-container-all p{
  font-size: 0.9rem;
  margin: 0;
}


.ecosystem-trade-card{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin: 15px;
}

.trade-img{
  display: flex;
  justify-content: center;
}

.ecosystem-card-container a{
  text-decoration: none;
}

.ecosystem-card-container a:visited{
  text-decoration: none;
  color: inherit;
}


/* dark mode */
.ecosystem.dark-theme{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: var(--btn-dark-text);
}

.ecosystem.dark-theme h2,
.trade-cards-container.dark-theme h4,
.earn-cards-container.dark-theme h4,
.gamenft-cards-container.dark-theme h4,
.trade-cards-container.dark-theme p,
.earn-cards-container.dark-theme p,
.gamenft-cards-container.dark-theme p{
  color: white;
}

.ecosystem-card-container.dark-theme{
  background-color: var(--darkblue);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  gap: 50px;
  padding: 0 0 30px 0;
  height: 500px;
}

.ecosystem-link.dark-theme{
  font-weight: bold;
  color: var(--white);
}







@media (max-width: 1208px){
  .trade-cards-container,
  .gamenft-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 220px);    
  }

  .earn-cards-container{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 15px;
  }

  .ecosystem-big-img{
    width: 350px;
    height: 400px;
    position: relative;
    left: 0;
    bottom: -30px;
  }

  

  .ecosystem-container{
    gap: 50px;
  }

  .trade-card-container-all:nth-child(2){
    margin: 0 0 0 -80px;
  }

.ecosystem-card-container{
    width: 90px;
  }
  
  
}


@media (max-width: 967px) {
  .ecosystem-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .trade-cards-container,
  .gamenft-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 230px);
  }

  .earn-cards-container{
    display: grid;
    grid-template-columns: repeat(2, 280px);
  }

  .trade-card-container-all h3{
    padding-left: 10px;
  }

  .ecosystem-big-img{
    width: 350px;
    height: 400px;
    position: relative;
    left: -230px;
    bottom: -30px;
  }

  #earn-img{
    display: flex;  
    position: static;
  } 

}


@media (max-width: 851px){
  .ecosystem-card-container{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ecosystem-container h3{
    font-size: 2.7rem;
    margin: 30px 0;
  }

  .ecosystem-card-container p,
  .ecosystem-card-container h4{
    font-size: 1.5rem;
  }

  .trade-cards-container,
  .earn-cards-container,
  .gamenft-cards-container{
    display:flex;
    flex-wrap: wrap;
    margin: 0 0 0 100px;
  }


  .trade-card-container-all h3,
  .earn-card-container-all h3,
  .gamenft-card-container-all h3{
    margin: 30px 0 30px 100px;
  }
  /* .trade-card-container-all{
    margin: 50px;
  } */

  .trade-card,
  .gamenft-card{
    min-width: 180px;
    max-width: 210px;
    font-size: 1.5rem;
  }

  .earn-card{
    max-width: 250px;
    font-size: 1.5rem;
  }



   .ecosystem-card-container:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*
  .trade-cards-container,
  .gamenft-cards-container{
    display: flex;
    flex-wrap: wrap;
  }


  .trade-card-container-all h3:nth-child(1),
  .trade-card-container-all h3:nth-child(3){
    margin: 50px;
  } */

  #gamesnft-img,
  #trade-img{
    width: 350px;
    height: auto;
    position: relative;
    left: -150px;
  }

  #earn-img{
    width: 350px;
    height: auto;
    position: relative;
    left: -250px;
  }
  
}


@media (max-width: 537px){
  .ecosystem-card-container{
    width: 100%;
  }

  .earn-card,
  .trade-card,
  .gamenft-card{
    font-size: 1rem;
    max-width: 160px;
    margin: 10px;
  }

  #earn-img.ecosystem-big-img{
    position: relative;
    left: -10px;
  }

  #gamesnft-img.ecosystem-big-img{
    position: relative;
    left: -80px;
  }

}






