body {
    font-family: 'Kanit', sans-serif;
}

.btn-main-blue {
    color:#ffffff;
    background-color: #1FC7D4;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 2px 2px #1B99AA;
    text-decoration: none;
    align-content: center;
    width: fit-content;
}

.btn-sec {

}

